<h1>Products</h1>

<% @products.each do |product| %>
  <h2><%= product.name %></h2>
  <p>
    <!-- <a href="/products/<%= product.id %>">Details</a>
    <%= link_to 'Details', product_path(id: product.id) %>
    <%= link_to 'Details', product_path(product.id) %>
    <%= link_to 'Details', product %> -->
    <%= link_to 'Details', product_path(product) %>
  </p>
<% end %>