<h2><%= @product.name %></h2>
<p><%= @product.description %></p>
<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>

<p>
  <%# <a href="/products">Back</a> %>
  <%= link_to 'Back', products_path %>
</p>

<p>
  <%= link_to 'Edit', edit_product_path(@product) %>
</p>

<p>
  <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
</p>

<p>
  <%= @random %>
</p>